

h2{
    font-size: 3rem;
    line-height: 3rem;
    padding: 0;
    margin: 0;
    color: #0A5085;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    text-align: center;
}

.informacion p{
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 0;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

.informacion{
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5rem;
}

.informacion h2{
    margin-bottom: 3rem;
}

.redes-sociales{
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.redes-sociales h2{
    margin-bottom: 3rem;
}

.contacto-links{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto-links i{
    margin: 0 3rem;
    font-size: 5rem;
}

.facebook i{
    color: #3b5998;
}
.youtube i{
    color: #c4302b;
}
.instagram i{
    color: #C13584;
}
.twitter i{
    color: #00acee;
}

@media(max-width: 768px){
    .contacto-links{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contacto-links i{
        margin: 1rem 3rem;
        font-size: 5rem;
    }
} 