a {
    text-decoration: none;
}
.top{
    margin: 0;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5) ),url('/img/img1-lowres.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    height: calc(100vh - 5rem);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}

button{

    display: block;
    background-color: white;
    margin-top: 5rem;
    margin-bottom: 2rem;
    padding: 1rem 3rem;
    color: #3E4756;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    border-radius: 1.3rem;
    border: none;
    margin-right: auto;
    margin-left: auto;
    letter-spacing: 1pt;
}

button:hover{
    cursor: pointer;
}

a {
    text-decoration: none;
}

h1{
    /*font-size: 3rem;*/
    font-size: 2rem;
    text-align: center;
    margin: 0;
    padding-top: 2em;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}

h4{
    font-size: 1rem;
    line-height: 2rem;
    text-align: center;
    margin: 0;
    padding-top: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    /*min-width: 400px;*/
}

.seccion1-home{

    margin-top: 5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.imagen-seccion1{
    padding-right: 0rem;
    padding-bottom: 2rem;
}

.imagen-seccion1 img{
    margin: 0;
    padding: 0;
    width: 100vw;
}


.descripcion-seccion1 h2 {
    padding: 0;
    margin: 0;
    text-align: left;

}
 .descripcion-seccion1{
    padding: 0;
    margin: 0;
}
.descripcion-seccion1 p{
    padding: 0;
    margin: 0;
    padding-top: 3rem;
}

.seccion1-home h2{
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin: 0;

    color: #0A5085;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    
}
p{
    font-size: 1.5rem;
    line-height: 3rem;
    margin: 0;
    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
}


.home .section2{
    margin-top: 3rem;
    margin-bottom: 10rem;
    display: flex;
    justify-content: center
}
.titulo-raro h2{
    margin-top: 10rem;
    padding: 0;
    text-align: center;
}



.section2 p{
    margin:0;
    text-align: center;
    width: 1250px;
}

.lenguajes{
    padding: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-bottom: 10rem;
}

.lenguajes img{
    width: 250px;
}

.node{
    padding-right: 3rem;
}

.python{
    padding-right: 3rem;
}

.boton-talleres {
    background-color: #0A5085;
    color: white;
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 3rem;
        padding-top: 3em;
    }

    h4 {
        font-size: 1.5rem;
        line-height: 3rem;
        padding-left: 10rem;
        padding-right: 10rem;
        min-width: 400px;
    }

    h2{
        font-size: 3rem;
        line-height: 3rem;
    }
    .seccion1-home {
        margin-top: 10rem;
        margin-left: 5rem;
        margin-right: 5rem;
        flex-direction: row;
    }

    .imagen-seccion1{
        padding-right: 5rem;
    }

    .imagen-seccion1 img{
        width: 500px;
        padding-bottom: 0rem;
    }

    .lenguajes {
        flex-direction: row;
        justify-content: center;
    }
    .boton-talleres {
        display: none;
    }
}