h2{
    font-size: 3rem;
    line-height: 3rem;
    text-align: center;
    margin: 0;
    padding-top: 3rem;
    padding-left: 10rem;

    color: #0A5085;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    min-width: 400px;
}


p {
    font-size: 1.5rem;
    line-height: 3rem;
    /* text-align: center; */
    margin: 0;
    padding-top: 3rem;
    padding-left: 10rem;

    text-align: justify;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;
    min-width: 400px;
}

.section1 img {
    width: 30rem;
    height: 15rem;
    min-width: 400px;
}

.equipo {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.miembro img {
    width: 5rem;
    height: 5rem;
    max-width: 5rem;
    max-height: 5rem;
    border-radius: 20rem;
}

.miembro h3 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
}

.miembro p {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.5rem;

}

.grupo {
    max-width: 40rem;
}
